<div class="all">
    <mat-card class="about">
        <mat-card-title class="title">Contato</mat-card-title>
        <p>Entre em contato com Matheus A. Rodrigues pelo seu email, pelo direct do LinkedIn, por ligações para seu celular ou mensagens para seu WhatsApp.</p>
        <p>Obs: Sinais de fumaça serão ignorados.</p>
        <div class="contact">
            <i class="material-icons">mail</i>
            <p>matheusvwg@gmail.com</p>
        </div>
    
        <div class="contact">
            <i class="material-icons">call</i>
            <p>(27) 99732-7450</p>
        </div>
    
        <div class="contact">
            <i class="material-icons">person</i>
            <a href="https://www.linkedin.com/in/math-arod/"><p>Matheus A. Rodrigues ( LinkedIn )</p></a>
        </div>
    
        <div class="contact">
            <i class="material-icons">code</i>
            <a href="https://github.com/Math-ARod"><p>Math-ARod ( GitHub )</p></a>
        </div>    
    </mat-card>
</div>
