<mat-card class="about">
    <h1 class="title">Sobre</h1>
    <p>Matheus A. Rodrigues é um Desenvolvedor que vêm se especializando no FrontEnd. Desenvolveu-se no aprendizado autodidata e agora busca colocar seus conhecimentos em prática em empresas especializadas e em seus projetos pessoais. Seus conhecimentos também se ampliam para a área da Ilustração, Edição de Vídeos e Escrita Literária.</p>

    <h2 class="title">Contato</h2>
    <div class="contact">
        <i class="material-icons">mail</i>
        <p>matheusvwg@gmail.com</p>
    </div>

    <div class="contact">
        <i class="material-icons">call</i>
        <p>(27) 99732-7450</p>
    </div>


</mat-card>
