<mat-card class="about">
    <mat-card-title class="title">Contato</mat-card-title>
    <div class="contact">
        <i class="material-icons">mail</i>
        <p>matheusvwg@gmail.com</p>
    </div>

    <div class="contact">
        <i class="material-icons">call</i>
        <p>(27) 99732-7450</p>
    </div>

    <div class="contact">
        <i class="material-icons">person</i>
        <a href="https://www.linkedin.com/in/math-arod/"><p>Matheus de Azeredo Rodrigues</p></a>
    </div>

    <div class="contact">
        <i class="material-icons">code</i>
        <a href="https://github.com/Math-ARod"><p>Math-ARod</p></a>
    </div>    
</mat-card>
