@font-face {
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}

.all {
    height: 100%;
    background-color: white;

    .about {
        max-width: 70%;
        height: 80%;
        display: flex;
        margin: auto;
        margin-bottom: 3px;
        padding: 1rem;
        box-shadow: none;
    
        .title {
            font-family: 'Roboto Slab';
            font-weight: bold;
        }
    
        p {
            text-align: justify;
            font-family: 'Roboto Slab';
        }
    
        .contact {
            display: flex;
    
            i {
                display: flex;
                margin-right: 10px;
                align-items: center;
            }
    
            p {
                display: flex;
                margin: 10px;
                align-items: center;
                font-family: 'Roboto Slab';
            }
        }
    }
}