.about {
    max-width: 70%;
    height: 75%;
    display: flex;
    margin: auto;
    padding: 20px;

    .title {
        font-size: 2rem;
        margin: 10px;
    }

    p {
        font-size: 1.1rem;
        margin: 10px;
        text-align: justify;
        line-height: 1.5rem;
    }

    .contact {
        display: flex;

        i {
            display: flex;
            margin-right: 10px;
            align-items: center;
        }

        p {
            display: flex;
            font-size: 1.1rem;
            margin: 10px;
            align-items: center;
        }
    }
}