div {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    .footer {
        bottom: 0;

        max-width: 70%;
        font-size: 0.9rem;
        display: grid;
        text-align: center;
        line-height: 0;
        padding-top: 15px;
    }
}