<div class="all">
    <div class="header">
        <mat-card class="habtitle">
            <mat-card-title class="title">Habilidades</mat-card-title>
            <p class="titledescription">Estas habilidades foram desenvolvidas com estudo autodidata, através de testes e muita curiosidade.</p>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="cards">
            <mat-card-title class="title">Angular</mat-card-title>
            <div class="description">
                <img class="image" src="../../../assets/img/angular.png" alt="">
                <p class="text">Tendo aprendido principalmente com os cursos da Cod3r, Loiane e outros cursos avulsos, minhas principais habilidades no desenvolvimento de sites estão relacionadas ao Angular.</p>
            </div>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="cards">
            <mat-card-title class="title">NodeJs</mat-card-title>
            <div class="description">
                <img class="image" src="../../../assets/img/nodejs.png" alt="">
                <p class="text">Na utilização do Angular o NodeJs é uma ferramenta importante no auxílio do desenvolvimento de sites. Portanto, utilizo muito a ferramenta em meus projetos.</p>
            </div>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="cards">
            <mat-card-title class="title">HTML - SCSS - JavaScript</mat-card-title>
            <div class="description">
                <img class="image" src="../../../assets/img/htmlcssjs.png" alt="">
                <p class="text">Dispensando apresentações, a tríade do desenvolvimento é muito utilizada dentro da framework do Angular. Sobre esses três participei das aulas ministradas pelo professor Gustavo Guanabara no Curso Em Vídeo.</p>
            </div>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="cards">
            <mat-card-title class="title">Inglês</mat-card-title>
            <div class="description">
                <img class="image" src="../../../assets/img/english.jpg" alt="">
                <p class="text">Meu aprendizado em Inglês vem todo de um estudo autodidata, onde desenvolvi minha própria forma de aprender. No momento estou no Intermediário, lendo livros em Inglês para aparfeiçoar meu conhecimento.</p>
            </div>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="cards">
            <mat-card-title class="title">Linux</mat-card-title>
            <div class="description">
                <img class="image" src="../../../assets/img/linux.jpeg" alt="">
                <p class="text">Meu principal Sistema Operacional é o Linux, visto que ele é perfeito para o desenvolvimento. Já o utilizo há dois anos.</p>
            </div>
        </mat-card>
    </div>

    <div class="content">
        <mat-card class="cards">
            <mat-card-title class="title">Photoshop</mat-card-title>
            <div class="description">
                <img class="image" src="../../../assets/img/photoshp.png" alt="">
                <p class="text">No ramo do desenvolvimento, muitas vezes nos deparamos com a necessidade de criar ilustrações, banners e logotipos. Não foram por esses motivos que me especializei no Photoshop, mas com certeza está sendo muito útil na criação de meu projetos.</p>
            </div>
        </mat-card>
    </div>
</div>
