@font-face {
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}

.all {
    max-width: 70%;
    display: grid;
    margin: auto;

    .header {
        margin-bottom: 3px;

        .habtitle {
            padding: 1rem;

            .title {

            }

            .titledescription {

            }
        }
    }

    .content {
        margin-bottom: 3px;

        .cards {
            padding: 1rem;

            .title {

            }

            .description {
                display: flex;
                align-items: center;
                text-align: left;
                text-align: justify;
                .image {
                    max-width: 4rem;
                    border-radius: 50%;
                    border: solid black 1px;
                    align-items: center;
                }

                .text {
                    margin-right: 2rem;
                    margin-left: 2rem;
                    font-family: 'Roboto Slab';
                    margin-bottom: 0;
                    margin-top: 0;
                    padding: 0;

                }
            }
        }
    }
}