@font-face {
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}

.all {
    background-color: white;

    .header {
        margin-bottom: 3px;
        max-width: 70%;
        display: grid;
        margin: auto;


        .habtitle {
            padding: 1rem;
            box-shadow: none;

            .title {
                font-family: 'Roboto Slab';
                font-weight: bold;
            }

            .titledescription {
                font-family: 'Roboto Slab';

            }
        }
    }

    .content {
        margin-bottom: 3px;
        max-width: 70%;
        display: grid;
        margin: auto;
        box-shadow: none;

        .cards {
            padding: 1rem;
            box-shadow: none;

            .title {
                font-family: 'Roboto Slab';
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            .description {
                display: flex;
                align-items: center;
                text-align: left;
                text-align: justify;
                font-family: 'Roboto Slab';

                .image {
                    max-width: 4rem;
                    border-radius: 50%;
                    border: solid black 1px;
                    align-items: center;
                }

                .text {
                    margin-right: 2rem;
                    margin-left: 1rem;
                    font-family: 'Roboto Slab';
                    margin-bottom: 0;
                    margin-top: 0;
                    padding: 0;

                }
            }
        }
    }
}