<div class="all">
    <div class="header">
        <mat-card class="protitle">
            <mat-card-title class="title">Projetos</mat-card-title>
            <mat-card-subtitle class="subtitle">Sites Desenvolvidos Em Angular E HTML</mat-card-subtitle>
        </mat-card>
    </div>
    
    <div class="content">
        <mat-card class="cards">
            <mat-card-subtitle class="sitename">Site De Filme</mat-card-subtitle>
            <p class="description">Este foi um de meus primeiros projetos, com utilização de HTML e CSS. Um site de streaming para uso pessoal, onde organizei os filmes de meu computador. A intenção na criação desse site era, principalmente o meu aprendizado.</p>
                    <div class="images">
                        <img src="../../../assets/img/film 01.png" alt="">
                        <img src="../../../assets/img/film 02.png" alt="">
                    </div>
        </mat-card>
    </div>
    
    <div class="content">
        <mat-card class="cards">
            <mat-card-subtitle class="sitename">Site Mitomaníacos</mat-card-subtitle>
            <p class="description">Ao criar um canal de histórias, principalmente de mitologia, decidi desenvolver um site onde pudesse colocar todas os vídeos já publicados, e também adicionei uma loja para poder vender produtos.</p>
                    <div class="images">
                        <img src="../../../assets/img/mit 01.png" alt="">
                        <img src="../../../assets/img/mit 02.png" alt="">
                        <img src="../../../assets/img/mit 03.png" alt="">
                        <img src="../../../assets/img/mit 04.png" alt="">
                    </div>
        </mat-card>
    </div>
    
    <div class="content">
        <mat-card class="cards">
            <mat-card-subtitle class="sitename">Projeto HyperCodeLabs</mat-card-subtitle>
            <p class="description">Nesse projeto minha atribuição foi o desenvolvimento de uma tela de Login, com seus tratamentos de erro e autenticação.</p>
                    <div class="images">
                        <img src="../../../assets/img/hyper 01.png" alt="">
                        <img src="../../../assets/img/hyper 02.png" alt="">
                    </div>
        </mat-card>
    </div>
    
    <div class="content">
        <mat-card class="cards">
            <mat-card-subtitle class="sitename">Site de Produtos</mat-card-subtitle>
            <p class="description">Este site foi desenvolvido durante meu curso de Angular pela Coder. O objetivo era criar um site onde fosse possível adicionar produtos e seus devidos preços.</p>
                    <div class="images">
                        <img src="../../../assets/img/coder 01.png" alt="">
                        <img src="../../../assets/img/coder 02.png" alt="">
                        <img src="../../../assets/img/coder 03.png" alt="">
                    </div>
        </mat-card>
    </div>
</div>