<div class="all">
    <mat-card class="cover">
        <a class="logolink" mat-list-item routerLink="/"><img class="logo" src="../../../assets/img/channels4_profile.jpg" alt=""></a>

        <div class="text">
            <mat-card-title class="title">Matheus A. Rodrigues</mat-card-title>
    
            <mat-card-subtitle class="subtitle">Desenvolvedor Web </mat-card-subtitle>
        </div>
    
    </mat-card>
    
    <mat-card class="nav">
        <mat-toolbar class="menu">
            <a class="navbutton" mat-list-item routerLink="/">Home</a>
            <a class="navbutton" mat-list-item routerLink="projetos">Projetos</a>
            <a class="navbutton" mat-list-item routerLink="habilidades">Habilidades</a>
            <a class="navbutton" mat-list-item routerLink="contato">Contato</a>
        </mat-toolbar>
    </mat-card>
</div>