@font-face {
    font-family: 'Roboto Slab';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}
.cover {
    display: flex;
    margin: auto;
    flex-direction: row;
    background-color: #ffac59;
    margin-bottom: 2px;
    border-radius: 0;

        .logolink{
            display: flex;
            align-items: center;

        .logo {
            max-width: 4rem;
            margin: 20px;
            border-radius: 50%;
            
        }
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
        font-family: 'Roboto Slab';
        font-weight: bold;
        font-size: 1.5rem;

    }

    .subtitle {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 0.4rem;
        align-items: center;
        color: rgb(49, 49, 49);
        font-size: 1rem;
    }
}

.nav {
    display: flex;
    margin: auto;
    align-items: center;
    background-color: #d4b376;
    margin-bottom: 3px;
        border-radius: 0;
    
    .menu {
        height: 1.8rem;
        display: flex;
        max-width: 100%;
        align-items: center;
        justify-content: left;
        background-color: rgba(255, 255, 255, 0);
        padding-left: 0;
    
        .navbutton {
            display: flex;
            height: 100%;
            align-items: center;
            color: rgb(10, 10, 10);
            padding-left: 1rem;
            padding-right: 1rem;
            text-decoration: none;
            font-size: 1.2rem;
            font-family: 'Roboto Slab';
        }

        .navbutton:hover {
            background-color: rgb(41, 41, 41);
            color: white;
            transition-duration: .6s;
        }
    }
}