<mat-card class="home">
    <mat-card-title class="abtitle">Sobre</mat-card-title>
    <div class="about">
        <img class="abimage" src="../../../assets/img/foto.jpg" alt="">
        <p class="description">Matheus A. Rodrigues é um Desenvolvedor que vêm se especializando no FrontEnd. Desenvolveu-se no aprendizado autodidata e agora busca colocar seus conhecimentos em prática em empresas especializadas e em seus projetos pessoais. Seus conhecimentos também se ampliam para a área da Ilustração, Edição de Vídeos e Escrita Literária.</p>
    </div>
    <mat-card-title class="title">Matheus A. Rodrigues</mat-card-title>
    <p class="subtitle">Desenvolvedor Front-end</p>

    <div class="social">
        <a href="https://www.linkedin.com/in/math-arod/"><img src="../../../assets/img/linkedin.png" alt="linkedin"></a>

        <a href="https://github.com/Math-ARod"><img src="../../../assets/img/github.png" alt="github"></a>
    </div>
</mat-card>