.home {
    max-width: 70%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    .name {

    }

    .title {

    }

    .image {
        
        img {
            max-width: 50px;
        }
    }
}